html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.headline {
  position: absolute;
  z-index: 25;
  top: 220px;
  font-size: 14px;
  margin: 10px;
  margin-top: 4px;
  font-family: Raleway;
}

#carousel {
  position: relative;
  height: 400px;
  top: 45%;
  transform: translateY(-45%);
  overflow: hidden;
  z-index: 1 !important;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 300px;
  height: 200px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  height: 230px;
  width: 230px;
  transform: translateY(50px) translateX(-50%);
  background-color: white;
  transition: all ease 1s;
  .headline {
    opacity: 0;
  }
}
#carousel div.prev img {
  width: 250px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  height: 180px;
  width: 180px;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
  background-color: white;
  .headline {
    opacity: 0;
  }
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 100 !important;
  left: 50%;
  height: 290px;
  width: 290px;
  transform: translateY(20px) translateX(-50%);
  background-color: white;
  transition: all ease 1s;
  .headline {
    opacity: 1;
    transition: all ease 1s;
  }
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  height: 230px;
  width: 230px;
  transform: translateY(50px) translateX(-50%);
  background-color: white;
  transition: all ease 1s;
  .headline {
    opacity: 0;
  }
}
#carousel div.next img {
  width: 250px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  height: 180px;
  width: 180px;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
  background-color: white;
  .headline {
    opacity: 0;
  }
}
#carousel div.nextRightSecond img {
  width: 200px;
}
.card-image {
  height: 100%;
  width: 100%;
  background-size:cover;
  pointer-events: none;
  clip-path: ellipse(77% 50% at 62% 25%);
}

.visible {
  display: block;
  .p {
    display: block;
  }
}

.hidden {
  display: none;
  .p {
    display: none;
  }
}

.click-me {
  z-index: 1000;
  left: 50%;
  height: 290px;
  width: 290px;
  transform: translateY(20px) translateX(-50%);
  position: absolute;
  top: -45%;
}

.click_me_container {
  position: relative;
  top: 45%;
}

.click-me.active {
  z-index: -1;
}



