body {
  background: none !important;
}

.history_container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 10px;
  margin-top: 51px;
}

.history_card {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #cac0d0a1;
  padding: 2px;
  margin-top: 5px;
  font-family: Raleway;
  text-align: left;
  color: #262229;
}

.history_header {
  background-color: #ede9f1;
  width: 100%;
  height: 40px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 13px;
      margin-bottom: 20px;
  p {
    color: #66607a;
    font-size: 24px;
  font-weight: bold;
  }
}

.history_elements {
  display: flex;
  flex-direction: column;
}

.history_article {
  display: flex;
  align-items: center;
  padding-bottom: 38px;
  padding-right: none;
  border-bottom: 1px solid #5f5f5f26;
  height: 55px;
  margin-bottom: 16px;
  margin-left: 7px;
  margin-right: 7px;
  p {
    padding: 20px;
    margin-top: 22px;
  }
}



.history_overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 100;
  // -webkit-transform: scale(1.8);
  // -moz-transform: scale(1.8);
  // -o-transform: scale(1.8);
  // transform: scale(1.8);
}

.history_overlay.active {
  opacity: 1;
      top: 0vh;
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.history_overlaybox{
  z-index: 190;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

//  ----

.history_expanded_container {
  position: relative;
  background-color: #A9A4B7;
  width: 400px;
  display: flex;
  flex-direction: column;
  z-index: 250;
  margin: 10px;
  border-radius: 3px;
}

.history_overlaycontainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.history_article_img {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 2px;
  background-position: 50%;
}



.history_expanded_container.active {
  z-index:200;
  position: absolute;
}

.history-popup-header {
    //   margin: 50px;
    // text-align: left;
    // padding-left: 68px;
}

.history_expanded_img {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 2px;
  background-position: 50%;
  margin-bottom: 0;
}

.history_expanded_img p {
  padding: 8px;
  color: #48434e;
  font-size: 15px;
  position: absolute;
  top: 21px;
  left: 131px;
  font-family: Raleway;
  text-align: left;
  text-align: left;
  font-weight: bold;
  width: 189px;
}

.history_expanded_snippet_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.history_expanded_snippet {
  display: flex;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #5f5f5f26;
  margin-bottom: 5px;
  align-items: center;
  justify-content: flex-start;
  min-height: 40px;
  align-items: center;
  justify-content: flex-start;
  font-family: Raleway;
  text-align: left;
}

.history-image-div {
    margin-top: 3vh;
    background-image: image-url("tldr-logo.png");
    background-size: cover;
    border-radius: 2px;
}

.history_expanded_img_div {
  background-image: image-url("tldr-logo.png");
  background-size: cover;
  border-radius: 2px;
  height: 100px;
  width: 100px;
  margin-left: 13px;
  margin-top: 13px;
}

.quit-button {
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #48434e;
}



