<div class="footer fixed-bottom footer-links">
  <button type="button" class="btn btn-secondary btn-sm" data-category="general"><i class="fas fa-home"></i></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="business"><i class="fas fa-briefcase"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="science"><i class="fas fa-flask"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="technology"><i class="fas fa-mobile-alt"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="entertainment"><i class="fas fa-film"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="health"><i class="fas fa-heartbeat"></i></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="sports"><i class="fas fa-futbol"></i></button>
</div>
