<div class="footer fixed-bottom footer-links">
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-home"></i></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-university"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-briefcase"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-flask"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-mobile-alt"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-film"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-futbol"></i></button>
<!--   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropup">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div> -->
</div>
