<div class="navbar-wagon">
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown navbar-wagon-right">
      <div class="hamburger">
        <span class="hamburger-global hamburger-top"></span>
        <span class="hamburger-global hamburger-middle"></span>
        <span class="hamburger-global hamburger-bottom"></span>
      </div>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>

