<div class="fixed-top">
      <button type="button" class="btn pulse" id="happy-button"><i class="far fa-smile"></i></button>
      <a href="/"><h1>tldr</h1></a>
      <a href="/history" class="history_link"><i class="fas fa-history"></i></a>
</div>

