<div class="navbar-wagon">
  <button type="button" class="" id="happy-button"><i class="far fa-smile"></i></button>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown navbar-wagon-right">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>

