<div class="navbar-wagon">
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown navbar-wagon-right hamburger">
      <!-- <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i> -->
        <span class="hamburger-global hamburger-top  dropdown-toggle" data-toggle="dropdown"></span>
        <span class="hamburger-global hamburger-middle  dropdown-toggle" data-toggle="dropdown"></span>
        <span class="hamburger-global hamburger-bottom dropdown-toggle" data-toggle="dropdown"></span>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>

