<div class="navbar-wagon">
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-globe"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-university"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-briefcase"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-flask"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-mobile-alt"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-film"></i></button>
  <button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-futbol"></i></button>
</div>

