<div class="snippet_container">
  <div class="snippet_content">
    <p>Here's the best tidbit you'll ever need to know</p>
  </div>
  <div class="snippet_no">3/10</div>
  <div class="next_target target_right"></div>
  <div class="next_target target_left"></div>
</div>
