<main>

  <div id="carousel">

    <% @articles.each do |a| %>
      <div class="hideRight article" data-category="<%= a.newsapi_category %>">
        <p class="headline"><%= "#{a.newsapi_title}" %></p>
        <div class="card-image" style="background-image: url(<%= image_path("#{a.newsapi_imgeurl}") %>);">
        </div>
      </div>
    <% end %>

  </div>

</main>
