<% article = @articles.first %>
<% article_snippets = article.smmry_content.gsub!("[","").gsub!("]","").split("\",").to_a %>
<% article_snippets.select{ |s| s.strip[0] == "\""}.map!{|snippet| snippet.strip.gsub!("\"","")} %>



<script>
  var article_snippets = [<%= raw article_snippets.to_json %>];
</script>


<div class="overlay">
  <div class="overlaycontainer">
    <div class="overlaybox">
    </div>

  </div>
</div>
<main>

  <div class="click_me_container">

    <div class="click-me"></div>
    <div id="carousel">

      <% @articles.each do |a| %>
      <div class="hideRight article" data-category="<%= a.newsapi_category %>">
        <p class="headline"><%= "#{a.newsapi_title}" %></p>
        <div class="card-image" style="background-image: url(<%= image_path("#{a.newsapi_imgeurl}") %>);">
        </div>
      </div>
      <% end %>

    </div>
  </div>
<!--     </div>
</div> -->



</main>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

