<script>
  var snippet_array = <%= raw @aylien_snippets.to_json %>;
  var article_array = <%= raw @frontend_articles.to_json %>;
  var happy_array = <%= raw @happy_things.to_json %>;
</script>

<div class="overlay hidden">
  <div class="overlaycontainer">
    <div class="overlaybox">
    </div>

  </div>
</div>

<div class="container">
     <ul id="menu">
            <a class="menu-button icon-plus" href="#menu" title="Show navigation"></a>
            <a class="menu-button icon-minus" href="#0" title="Hide navigation"></a>
            <li class="menu-item btn-sm" data-category="Science">
              <a >
                <span class="fas fa-flask"></span>
              </a>
            </li>
            <li class="menu-item btn-sm" data-category="Business">
              <a >
                <span class="fas fa-briefcase"></span>
              </a>
            </li>
            <li class="menu-item btn-sm" data-category="Technology & Computing">
              <a >
                <span class="fas fa-mobile-alt"></span>
              </a>
            </li>
            <li class="menu-item btn-sm btn-sm" data-category="Arts & Entertainment">
              <a >
                <span class="fas fa-film"></span>
              </a>
            </li>
            <li class="menu-item btn-sm" data-category="Health & Fitness">
              <a >
                <span class="fas fa-heartbeat"></span>
              </a>
            </li>
            <li class="menu-item btn-sm" data-category="Law, Gov't & Politics">
              <a >
                <span class="fas fa-gavel"></span>
              </a>
            </li>
            <li class="menu-item btn-sm" data-category="Sports">
              <a >
                <span class="fas fa-futbol"></span>
              </a>
            </li>
            <li class="go-button pulse">
              <h1><i class="fas fa-search"></i></h1>
            </li>
        </ul>
</div>

  <div class="desktop-banner">
    <h3>Looks like you're not on a mobile device</h3>
    <h3>Check back in on your mobile at:</h3>
    <h2>tldr.world</h2>
  </div>
<main id="gestureZone">
  <canvas id="canvas" style="position:absolute;"></canvas>
  <div class="click_me_container">
    <div class="click-me"></div>
    <div id="carousel">
    </div>
  </div>



<div class="footer fixed-bottom footer-links">
  <button type="button" class="btn btn-secondary btn-sm" data-category="Law, Gov't & Politics"><i class="fas fa-gavel"></i></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="Business"><i class="fas fa-briefcase"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="Science"><i class="fas fa-flask"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="Technology & Computing"><i class="fas fa-mobile-alt"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="Arts & Entertainment"><i class="fas fa-film"></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="Health & Fitness"><i class="fas fa-heartbeat"></i></i></button>
  <button type="button" class="btn btn-secondary btn-sm" data-category="Sports"><i class="fas fa-futbol"></i></button>
</div>

</main>
  <div id="buffer" style="display:none;">
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

