/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: -14px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 5px;
  font-family: Raleway;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  // background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.hamburger {
  top: 12px;
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 40px;
  height: 40px;
}
.hamburger-global {
  // backface-visibility: hidden;
  position: absolute;
  left: 12px;
  border-top: 3px solid gray;
  width: 70%;
  transition: 0.55s;
}
.hamburger-top {
  top: 0;
}
.hamburger-middle {
  top: 7px;
}
.hamburger-bottom {
  top: 14px;
}
.hamburger-top-click {
  // backface-visibility: hidden;
  top: 8px;
  left: 40%;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
  width: 40%;
}
.hamburger-middle-click {
  opacity: 0;
}
.hamburger-bottom-click {
  // backface-visibility: hidden;
  top: 8px;
  left: 40%;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
  width: 40%;
}

.fixed-top {
    width: 100vw;
    text-align: center;
    position: absolute;
    top: -2vh;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6b5575;

  h1 {
    font-family: $headers-font;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 5px;
  }
}

